.App {
  text-align: start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blue;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 1em;
  padding-left: 3em;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgb(40, 150, 165);
  color: white;
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(40, 150, 165);
  color: white;
}

.tab {
  padding: 1em;
  cursor: pointer;
  border-bottom: 2px solid transparent;

}

.tab:hover {
  border-bottom: 2px solid white;
}

.mainBtn {
  padding-right: 4em;
}